.table-container {
  border-collapse: collapse;
  flex-grow: 1;
  font-size: $font-size-medium;
  overflow-y: scroll;
  width: 100%;
}

.table {
  font-size: $font-size-medium;
  margin: 0 0 40px;

  thead {
    background:$secondary-background;
    color: $font-color-on-primary;
    font-weight: 900;
  }

  tbody {
    tr {
      background: $header-bg;
      color: black;
      height: 2rem;

      &:nth-of-type(odd) {
        background: $row-bg;
      }

      &:hover {
        background: $highlight;
      }
    }
  }

  td,
  th {
    border-bottom: solid 1px $table-header-border;
    border-left: solid 1px $table-header-border;
    border-right: solid 1px $table-header-border;
    vertical-align: middle;
  }

  .flex-row {
    width: 600px;
  }

  .flex-cell,
  .flex-row {
    text-align: center;
  }
  @media only screen and (max-width: 767px) {
    .table-container {
      //display: block;
    }

    td,
    th {
      border-bottom: solid 1px $table-header-border;
      border-left: solid 1px $table-header-border;
      border-right: solid 1px $table-header-border;
      border: 0;
      display: block;
      width: auto;
    }

    .flex-row {
      width: 100%;
    }
  }
}
