.client-page{
  background-color: $primary-background;
  align-items: flex-start;
  padding-top: 3rem;
  @include flexColumn();
}

section {
  display: flex;
  flex-direction: row;
  height: 45rem;
  @include margin($margin, $margin, $margin, $margin);
  background-color: $secondary-background;
}

.client-trip-preview {
  flex-grow: 3;
  box-shadow: $box-shadow;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: contain;
  }
}

.table-wrapper {
  background-color: $primary-background;
  @include margin($margin, $margin, $margin, $margin);
}

.client-overview {
  background-color: $primary-background;
  @include margin($margin, $margin, $margin, $margin);
  min-width: 300px;
  max-width: 700px;
}

.client-trips {
  height: 100%;
  background-color: $secondary-background;
  @include margin($margin, $margin, $margin, $margin);
  @include padding(2rem, 2rem, 2rem, 2rem);
  box-shadow: $box-shadow;
  flex-grow: 3;
  margin-left: 2rem;
}

.client-trip-data {
  flex-grow: 2;
  width: 950px;
}

.client-trip-preperation {
  @include border-radius(0, 0, $radius, $radius);
}

.destination-picker {
  @include form();
  height: 100%;
  color: white;
  background-color: $secondary-background;
  width:500px;
  box-shadow: $box-shadow;

  .dates {
    width: 100%;
    @include padding($padding, $padding, $padding, $padding);
  }

  .destination {
    width: 100%;
    @include padding($padding, $padding, $padding, $padding);
  }
}

.past-trips {
  color: white;
}

.button-container {
  button {
    @include button();
  }
}
