section {
  display: flex;
  flex-direction: row;
  height: 34rem;
  max-width: 1200px;
    @include margin($margin, $margin, $margin, $margin);


}

.client-trip-preview {
  flex-grow: 3;
  min-width: 300px;
  max-width: 700px;

  box-shadow: $box-shadow;

  img {
    height: 100%;
  }
}
.table-wrapper {
  width: 80%;
  background-color: $primary-background;
  @include margin($margin, $margin, $margin, $margin);
}
.client-overview {
  background-color: $primary-background;
  @include margin($margin, $margin, $margin, $margin);
  min-width: 300px;
  max-width: 700px;
}

.client-trips {
  height: 100%;
  background-color: $secondary-background;
  @include margin($margin, $margin, $margin, $margin);
  @include padding(2rem, 2rem, 2rem, 2rem);
  box-shadow: $box-shadow;
  flex-grow: 3;
  margin-left: 2rem;
}

.client-trip-data {
  flex-grow: 2;
  width: 600px;
}

#canvas {
  width:100%;
}

.client-trip-preperation {
  @include border-radius(0, 0, $radius, $radius);
}

.destination-picker {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  @include form();
  height:100%;
  color: white;
    background-color: $secondary-background;
    min-width: 300px;
    max-width: 700px;

    box-shadow: $box-shadow;


  // form {
  //   display: flex;
  //   flex-direction: row;
  // }

  .dates {

    width: 100%;
    @include padding($padding, $padding, $padding, $padding);
  }

  .destination {
    width: 100%;
    @include padding($padding, $padding, $padding, $padding);
  }
}

.button-container {
  button {
    @include button();
  }
}
