
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  @include form();
  max-width: 360px;
}
input {
 @include input();
}
button {
  @include button(); 
}

select {
  @include input();
}

.form .register-form {
  display: none;
}
.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}