// @import "base/reset";
@import "base/functions";
@import "base/mixins";
@import "base/variables";

$primary-background: pink;

body {
  background-color: $primary-background;
}

/*hide role-specific div html*/
div.anonymous, div.end_user, div.manager {
  display: none;
  }